body {
  font-family: monospace;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

dt {
font-weight: bold;
}

.lado {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.esquerdo {
  left: 0;
}

.direito {
  right: 0;
}

.centro {
  text-align: center;
}

.centrão {
}
