.container {
    position: absolute;
    text-align: justify;
    text-justify: inter-word;
    top: 50%;
    left: 40%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

body {
    font-family: monospace;
    font-size: large;
}
